.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.main-container > div {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.member-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.member-row > div {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  transition: background-color 0.3s ease;
}

.member-row > div:hover {
  background-color: #e0e0e0;
}

.form-container {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

button {
  margin-top: 10px;
}

.table-container {
  max-width: 80%;
  overflow-x: auto;
  padding: 1em;
  margin: auto;
}
@media  screen and (max-width: 600px) {

  .resp thead  {
    display: block;
    margin-bottom: 10px;
    width:50%;
  
  }
  .resp tbody {
    display: block;
    margin-bottom: 10px;
    width: 50%;
  }
}
@media screen and (max-width:500px) {
 table.resp th, table.resp td {
  font-size: 14px;
  padding: 6px;
 }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr {
  background: rgba(255, 255, 255, 0.425); /* Fundo branco com opacidade */
  backdrop-filter: blur(10px) saturate(180%); /* Desfoque e saturação para efeito acrílico */
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* Suporte para navegadores baseados no WebKit */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borda levemente opaca */
  border-radius: 12px; /* Bordas arredondadas, opcional */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar o elemento */
}

tr:nth-child(even) {
  // background-color: #f2f2f2;
  background: rgba(255, 255, 255, 0.3); /* Fundo branco com opacidade */
  backdrop-filter: blur(10px) saturate(180%); /* Desfoque e saturação para efeito acrílico */
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* Suporte para navegadores baseados no WebKit */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borda levemente opaca */
  border-radius: 12px; /* Bordas arredondadas, opcional */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar o elemento */
}

tr:hover {
  background-color: #ddd;
  color: #000;
}

.color-green {
  background-color: rgba(11, 160, 11, 0.473);
}

.color-yellow {
  background-color: rgba(230, 230, 35, 0.589);
}

.color-red {
  background-color: rgba(184, 27, 27, 0.336);
}
