/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-image: url('./assets/images/download.jfif'); // Substitua pelo caminho da sua imagem
  background-size: cover; // Faz com que a imagem cubra todo o elemento
  background-position: center; // Centraliza a imagem
  background-repeat: no-repeat; // Evita que a imagem se repita

  // Adicione outros estilos conforme necessário
  height: 100vh; // Define a altura como 100% da viewport
  color: white; // Exemplo de cor do texto
}
