<app-header></app-header>

<table class="data-table">
  <thead>
    <tr>
      <th id="leg">Legendas</th>
      <th id="esta">Estagiários</th>
      <th id="member">Membro</th>
      <th id= "super">Supervisor</th>
      <th id="rem">Removido</th>
      <th id="ause">Ausência</th>
     
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Nome</th>
      <th>ID</th>
      <th>REC</th>
      <th>Prison</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>[SD|RT] Silva</td>
      <td>181415</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] Gabriel Silva</td>
      <td>202708</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] Doo Guedes</td>
      <td>45326</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] tauan</td>
      <td>202387</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Mineirinho</td>
      <td>25348</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[3°SGT|RT] Lukas silva</td>
      <td>131269</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[3°SGT|RT] Misto Quente</td>
      <td>53237</td>
      <td>0</td>
      <td>43</td>
    </tr>
    <tr>
      <td>[SD|RT] RAUAN WESLLEY </td>
      <td>202650</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[S.TEN|RT] Joao X.</td>
      <td>156899</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Big Bigode</td>
      <td>56029</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] Drey</td>
      <td>202141</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Alexander M </td>
      <td>196072</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Nathan F.</td>
      <td>192353</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>[3°SGT|RT] Allan M.</td>
      <td>183701</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] alveszpedro</td>
      <td>192132</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[SD|RT] Lima</td>
      <td>188644</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Ralf</td>
      <td>188707</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CB|RT] Marcio</td>
      <td>185900</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[S.TEN|RT] João </td>
      <td>156899</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[CAP|RT] Davi L.</td>
      <td>110963</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>[S.TEN|RT] Raphael</td>
      <td>62</td>
      <td>0</td>
      <td>0</td>
    </tr>

    <!-- Adicione mais linhas conforme necessário -->
  </tbody>
  <tbody>
   
    <!-- Adicione mais linhas conforme necessário -->
  </tbody>
</table>
    

<div class="main-container">
  <div>Nome</div>
  <div>ID</div>
  <div>REC</div>
  <div>Prison</div>
</div>

<div *ngFor="let member of members" class="member-row">
  <div>{{ member.name }}</div>
  <div>{{ member.idMember }}</div>
  <div>{{ member.rec }}</div>
  <div>{{ member.prison }}</div>
</div>

<button (click)="showForm = !showForm">Cadastrar Novo Membro</button>

<div *ngIf="showForm" class="form-container">
  <input [(ngModel)]="newMember.name" placeholder="Nome">
  <input [(ngModel)]="newMember.idMember" placeholder="ID" type="number">
  <input [(ngModel)]="newMember.rec" placeholder="REC" type="number">
  <input [(ngModel)]="newMember.prison" placeholder="Prison" type="number">
  <button (click)="addMember()">Adicionar</button>
</div>