
.teste{
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    font-weight: bold;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.data-table #leg {
    background-color: rgb(184, 182, 182);
}
.data-table #esta{
    background-color: rgba(255, 255, 0, 0.836);
}
.data-table #member {
    background-color: rgba(16, 75, 238, 0.842);
}
.data-table #super{
    background-color: rgba(38, 192, 58, 0.719);
}
.data-table #rem{
    background-color: #ce1a1adc;
}
.data-table #ause{
background-color: rgba(182, 36, 162, 0.822);
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: #f1f1f1;
}

.color-green {
  background-color: rgba(11, 160, 11, 0.699);
}

.color-yellow {
  background-color: rgba(230, 230, 35, 0.836);
}

.color-red {
  background-color: rgba(184, 27, 27, 0.856);
}

.members-membro {
  background-color: rgba(16, 75, 238, 0.842);
}

.members-estagiario{
  background-color: rgba(230, 230, 35, 0.836);
}

.dropdown {
  position: relative;
  display: inline-block;

  button {
    padding: 10px;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;

    .dropdown-item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
