<div class="container-filters">
  <!-- filtro periodo -->
  <div class="edit">
    <label>Período</label>
    <div class="dropdown">
      <button (click)="toggleDropdown()">
        {{ selectedOption || 'Selecione um período' }}
      </button>
      <div class="dropdown-menu" *ngIf="isOpen">
        <div class="dropdown-item" *ngFor="let option of options" [class.selected]="option === selectedOption"
          (click)="selectOption(option)">
          {{ option }}
        </div>
      </div>
    </div>
  </div>
</div>


<table class="data-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Total {{getTotalREC()}}</th>
      <th>Total {{getTotalprison()}}</th>
    </tr>
    <tr>
      <th>Nome</th>
      <th>ID</th>
      <th>REC</th>
      <th>Prison</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of filterMembers">
      <td [ngClass]="getClassType(member.typeMember)">{{member.name}}</td>
      <td class="back">{{member.idMember}}</td>
      <td [ngClass]="getClassGoal(member.rec)">{{member.rec}}</td>
      <td [ngClass]="getClassGoal(member.prison)">{{member.prison}}</td>
    </tr>
  </tbody>
  <tbody>

    <!-- Adicione mais linhas conforme necessário -->
  </tbody>
</table>

<!-- <button (click)="showForm = !showForm">Cadastrar Novo Membro</button>

<div *ngIf="showForm" class="form-container">
  <input [(ngModel)]="newMember.name" placeholder="Nome">
  <input [(ngModel)]="newMember.idMember" placeholder="ID" type="number">
  <input [(ngModel)]="newMember.rec" placeholder="REC" type="number">
  <input [(ngModel)]="newMember.prison" placeholder="Prison" type="number">
  <button (click)="addMember()">Adicionar</button>
</div> -->