<app-header></app-header>

    <section class="teste">
      <div id="1">Legendas</div>
      <div id="2">Estagiários</div>
      <div id="3"> Membro</div>
      <div id="4">Supervisor</div>
      <div id="5">Removido</div>
      <div id="6">Ausencia</div>
    </section>
    

<div class="main-container">
  <div>Nome</div>
  <div>ID</div>
  <div>REC</div>
  <div>Prison</div>
</div>

<div *ngFor="let member of members" class="member-row">
  <div>{{ member.name }}</div>
  <div>{{ member.idMember }}</div>
  <div>{{ member.rec }}</div>
  <div>{{ member.prison }}</div>
</div>

<button (click)="showForm = !showForm">Cadastrar Novo Membro</button>

<div *ngIf="showForm" class="form-container">
  <input [(ngModel)]="newMember.name" placeholder="Nome">
  <input [(ngModel)]="newMember.idMember" placeholder="ID" type="number">
  <input [(ngModel)]="newMember.rec" placeholder="REC" type="number">
  <input [(ngModel)]="newMember.prison" placeholder="Prison" type="number">
  <button (click)="addMember()">Adicionar</button>
</div>